<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nepali.echord">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.nepali.echord.ChordApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nepali.echord.mainsong.MainSongActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nepali.echord.detailsong.SongDetailActivity"
            android:parentActivityName="com.nepali.echord.detailsong.SongDetailActivity" />
        <activity
            android:name="com.nepali.echord.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="com.nepali.echord.artistsong.ArtistSongActivity"
            android:label="@string/title_activity_artist_song"
            android:parentActivityName="com.nepali.echord.mainsong.MainSongActivity" />
    </application>

</manifest>